<%= render 'layouts/navbar' %>

<section class="py-5 py-lg-7 bg-edit-user">
<div class="container position-relative text-center">
 
  <ol class="breadcrumb my-4 justify-content-center">
    <li class="breadcrumb-item"><%= link_to 'Accueil', root_path %></li>
    <li class="breadcrumb-item active"> Mon profil </li>
  </ol>

  <h1 class="hero-heading">
  <% if current_user.first_name? %>
  <%=current_user.first_name%>
  <% else %>
  Mon profil
  <% end %>
  </h1>

  <% if current_user.avatar.attached? %>

    <%= image_tag @user.avatar, size:"200x200", class:"avatar-2"%>

  <%else%>
    <%=image_tag "icons/man_avatar.png", size:"200x200", alt:"", class:"img-fluid rounded-circle border-black mx-auto"%>
  <% end %> 


    <%= form_for @user_outside_devise, url: useroutsidedevise_path(id:current_user.id) do |f| %>

      <div class="custom-file col-4 my-3">
        <%=  f.file_field :avatar, class:"custom-file-input",  id:"user-avatar-update"  %>
        <%= f.label :"Choisir un fichier", class:"custom-file-label", for:"user-avatar-update"%>
      </div>

    <div class="row">

      <%= f.submit "Ajouter", class:"btn btn-primary mx-auto"%>

    </div>


    <% end %>

 

</div>

</section>

  

<div class="py-4 px-5">
    <h2 class="mb-5 text-primary">Identité</h2>

    <%= form_for @user_outside_devise, url: useroutsidedevise_path(id:current_user.id) do |f| %>

      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <%= f.label :Prénom, class:"form-label"%>
            <%= f.text_field :first_name, class:"form-control", autocomplete: "first_name" %>
          </div>

          <div class="form-group">
            <%= f.label :Nom, class:"form-label" %>
            <%= f.text_field :last_name, class:"form-control", autocomplete: "last_name" %>
          </div>

          
        </div>

        <div class="col-md-6">

          <div class="form-group">
            <%= f.label :"Date de Naissance", class:"form-label" %>
            <%= f.select :date_of_birth, options_for_select(1940...2019), {}, { class: 'custom-select'}%>
          </div>

          <div class="form-group mt-5">
          <div class="custom-control custom-switch text-center">
           
            <%=  f.check_box :service_provider, class:"custom-control-input",id:"toggle-switch-amin-choice" %>
            <%=  f.label :"Je suis un Helper !", class:"custom-control-label", for:"toggle-switch-amin-choice"  %>

          </div>
          </div>
          
          

        </div>


      </div>


      <div class="row">

      <div class="col">


        <%= f.submit "valider", class:"btn btn-outline-primary  my-4", :confirm=>'Are you sure?' %>

      </div>
    </div>

    

    <% end %>
</div>



<div id="relative">
  <div id="map-user-geolocation">
  </div>

  <div id="contactform">
  <div class="py-4 text-center justify-content-center">

  <h2 class="mb-5 text-primary mx-auto bg-white w-25 py-2 rounded-corner shadow">Localisation</h2>

  <%= form_for @user_outside_devise, url: useroutsidedevise_path(id:current_user.id) do |f| %>


  <div class="row bg-transparent mx-auto py-5 justify-content-center">
    <div class="col-md-8 bg-white py-3 rounded-corner shadow-lg">


        <div class="form-group">
          <%= f.label :"Renseigne ton addresse", class:"form-label" %>
          <%= f.text_field :address, autocomplete: "location", class:"form-control", id:"autocomplete_address" %>
        </div>

        <%= f.submit "valider", class:"btn btn-outline-primary" %>

    <% end %>
  
    
    </div>
  </div>
</div>
  </div>

</div>


  
  <div class="py-4 px-5">
    <h2 class="mb-5 text-primary">Information de connexion</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row">
      <div class="col-md-6">

            <div class="form-group">
              <%= f.label :"Adresse email", class:"form-label" %>
              <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
            </div>
          
    
            <div class="form-group">
              <%= f.label :"Choisir un nouveau mot de passe", class:"form-label" %> <i class="form-label">(Ne pas remplir si aucun changement)</i>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
            </div>
    
            <div class="form-group">
              <%= f.label :"Confirmer le mot de passe", class:"form-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
            </div>
    
            <div class="form-group">
              <%= f.label :"Mot de passe Actuel", class:"form-label" %>
              <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
            </div>


          
            
      </div>

      <div class="col">

      <div class="h-100 mr-n3 justify-content-center d-flex align-items-center">

      <%= image_tag "icons/password.png", class:"img-fluid w-25" %>
      
      </div>
      </div>

      </div>

  
      <div class="row">
        <div class="col">
          <%= f.submit "valider", class:"btn btn-outline-primary my-4" %>
          <% end %>
        </div>
      </div>
  </div>

  <hr>

  <% if current_user.service_provider? %>


  <div class="py-4 px-5">
    <h2 class="mb-5 text-primary text-center"> Mettre à jour Mes Compétences</h2>
    <div class="row justify-content-center">
      <div class="col">

      
      <ul class="nav nav-pills mb-3 col-12 text-center justify-content-center" id="pills-tab" role="tablist">
      
        <li class="nav-item">
          <%= link_to "#pills-skills-selected", class:"nav-link d-flex", id:"pills-skills-selected-tab", 'data-toggle':"pill", 'role':"tab", 'aria-controls':"pills-skills-selected", 'aria-selected':"false" do %> 
          <%= content_tag :div, "Compétences sélectionnées" %>
          <%= content_tag :span, @user_skills.length, class:"badge badge-pill badge-secondary ml-2" %>
          <% end %>
        </li>
      
        <% Categorytag.all.each do |tag| %>
      
        <li class="nav-item">
          <%= link_to "#pills-#{tag.name}", class:"nav-link d-flex", id:"pills-#{tag.name}-tab", 'data-toggle':"pill", 'role':"tab", 'aria-controls':"pills-#{tag.name}", 'aria-selected':"false"  do %> 
          <%= content_tag :div, tag.name %>
          <%=content_tag :span, @user_skills.where(skill_id:[Skill.where(categorytag:Categorytag.where(name:tag.name)).first.id..Skill.where(categorytag:Categorytag.where(name:tag.name)).last.id]).length, class:"badge badge-pill badge-primary ml-2" %>
          <%end%>
        </li>
      
        <% end %>
       
      </ul>
      
      
      <%= form_for @user_outside_devise, url: useroutsidedevise_path(id:current_user.id), method: :put do |f| %>
      
      <div class="tab-content" id="pills-tabContent">
      
      
        <div class="tab-pane fade text-center" id="pills-skills-selected" role="tabpanel" aria-labelledby="pills-skills-selected-tab justify-content-center">
      
          <hr class="mt-4 mb-2">
      
              <div class="form-control border-0 font-weight-bolder">Retrouve ici les services sélectionnés:</div>
      
      
                <% @user_skills.each do |link| %>
                
                  <span class="badge badge-success"><%=link.skill.name%></span>
                    
      
                <% end %>
      
      
        </div>
      
      <!-- skills -->
      
      <% Categorytag.all.each do |category| %>
      
        <div class="tab-pane fade" id="pills-<%=category.name%>" role="tabpanel" aria-labelledby="pills-<%=category.name%>-tab justify-content-center">
      
          <hr class="mt-4 mb-2">
      
          <div class="row justify-content-center">
      
            <div class="col-9">
      
      
              <%= f.label :selectionne_les_services_que_tu_souhaite_proposer, class:"form-control border-0 font-weight-bolder" %>
      
                <div class="form-group">
      
      
                <% category.skills.each do |skill|%>
      
                  <div class="form-inline">
      
                    <div class="col">
                        <%= f.label :"#{skill.name}", class:"form-control border-0", 'data-toggle': 'tooltip', 'data-placement':'top', title: skill.description %>
                    </div>
      
                    <div class="col-3">
                      <div class="form-check form-check-inline">
      
                          <%= f.check_box :"#{skill.name}", class:"form-check-input mx-2", checked:LinkSkillToUser.find_by(user:current_user, skill:Skill.where(name:skill.name)).acquired%>
                          <%= f.label :oui, class:"form-check-label mx-2"%>    
      
                      </div>
                    </div>
      
                  </div>
      
                  <% end %>
                  
      
                </div>
      
            </div>
      
            <div class="col-3 justify-content-center text-center">
      
              <%= image_tag("icons/#{category.name}.png", class:"w-50 img-fluid") %>
      
            </div>
      
          </div>
      
      
        </div>
      
        <% end %>
      
      
      <hr class="my-4">
      
      <div class="row col-12 justify-content-center my-4 mx-auto">
          <%= f.submit "valider", class:"btn btn-primary" %>
          <% end %>
      </div> 
      
      
      
      
     

      
      </div>
    </div>
  </div>

  <hr>

  <% end %>


<div class="py-4 px-5">
  <h6 class="mb-3 text-danger"> Supprimer mon compte </h6>
    <div class="row">
      <div class="col-md-6">

      <%= button_to "supprimer", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-sm btn-outline-danger" %></p>
    
      </div>
    </div>
</div>




<%= javascript_tag ('editUserChangeNavandButtonAspect()') %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_SERVER_KEY']}&libraries=places&callback=initMap" %>

<%= javascript_tag ("initMap(#{current_user.latitude}, #{current_user.longitude}, document.getElementById('map-user-geolocation'))")%>

<%= javascript_tag (" google.maps.event.addDomListener(window, 'load', function() {
    initializeAutocomplete('autocomplete_address');
});") %>