

<div class="row justify-content-center bg-light-blue h-10rem m-0 p-0">

    <div class="row justify-content-center bg-white m-6 p-6 h-18rem w-18rem shadow-lg rounded-circle">
     

            <%= image_tag('icons/mailbox.png', class:"img-fluid mx-auto") %>


    </div>


</div> 

<div class="row bg-new h-25rem m-0 p-0">

    <div class="col d-flex align-items-center justify-content-center">

        <div class="card shadow-lg border-primary-lg" style="width: 15rem;" id="sent-inbox">
            <div class="card-body">

            <%= link_to inbox_index_path(content:"sent") do %>
           
            <h2 class="card-text text-center"><%= @number_messages_sent %><small> envoyés </small></h2>

            <% end %>
         
        </div>

    </div>
        
    </div>

    <div class="col d-flex align-items-center justify-content-center">

        <div class="card shadow-lg border-success-lg" style="width: 15rem;" id="received-inbox">
            <div class="card-body">

            <%= link_to inbox_index_path(content:"received") do %>
        
            <h2 class="card-text text-center"><%= @number_messages_received %> <small> reçus </small></h2>

            <% end %>
            
        </div>
    </div>
        

    </div>

</div> 



    

    
