<div class="row justify-content-around">

        <div class="col-5" id="talkHistory">

            <% @sent.each do |message| %>


                <div class="card my-3 shadow-lg">

                    <div class="card-header font-italic">
                        <%=message.created_at.strftime("Envoyé le %e %b %Y à %H:%M")%> 
                    </div>



                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-2 align-items-center">

                                <% if message.sender.avatar.attached? %>
                                <%=image_tag message.sender.avatar, class:"avatar rounded-circle border border-dark float-left m-2"%>
                                <%else%>
                                <%=image_tag "icons/man_avatar.png", size:"50x50", alt:"", class:"img-fluid rounded-circle border border-dark float-left m-2"%>
                                <% end %> 

                            </div>
                            <div class="col-md-5 d-flex align-items-center">

                                <%=message.sender.first_name%> <%=message.sender.last_name%>

                            </div>
                            <div class="col-md-5 d-flex align-items-center">

                                <p><%= message.object.capitalize %></p>
                                
                            </div>
            
                        </div>
                    </div>


                    <div class="card-footer text-center">

                        <%= link_to 'Voir le message', message_path(id:message.id, content:"sent"),  class:"stretched-link"%>  
                   
                    </div>

                </div>
                        
                   
                       
                

            <% end %>

        </div>



      
        <div class="col-7" id="messageShow">

                    
                    <% if @message_sent_show != nil %>

                    <% @message_sent_show.each do |message| %>


                    <div class="row py-2">
                        <div class="col d-flex">
                        <%= button_to inbox_path(id:message.id, content:"sent"), class:"bg-transparent border-0", method: :delete  do %>
                            <%= image_tag('icons/quit.png', size:"32x32", class:"img-fluid", alt:"delete message", title:"Supprimer le message") %>
                        <% end %>
                        <% if message.mission_url? %>
                        <%= link_to image_tag('icons/see-mission.png', size:"32x32", class:"img-fluid", alt:"access mission details", title:"Voir la mission"), mission_path(id:message.id) %>
                        <% end %>
                        </div>
                    </div>
                        

                    <div class="p-3 m-2">

                        <h6 class="text-right text-muted"><%= message.created_at.strftime("%H:%M %p | %e %b %Y")%> </h6>

                        <div class="row p-2 bg-light-grey-2">
                            <div class="col text-left">
                            <h5 class="font-weight-bold"><%= message.object.capitalize%> </h5>
                            </div>
                            <div class="col text-right">
                        
                            </div>
                        </div>
                        <div class="row p-2 bg-light-grey-2">

                            <div class="col">

                                <p><%= message.content.capitalize%> </p>
                            </div>
                        </div>


                    </div>

                    <% end %>
                    <% end %>
            
                
        </div>

    </div>