<div class="container-fluid mx-0">

<%= hidden_field_tag :"message_type", @message_type %>

<input class="form-control form-control-lg col-8 mx-auto my-3" type="text" placeholder="Rechercher dans les messages">


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <%=link_to 'Bienvenue sur ta messagerie', '#v-pills-inbox-home', class:"nav-link active", id:"v-pills-inbox-home-tab", 'data-toggle':"pill", 'role':"tab", 'aria-controls':"v-pills-inbox-home", 'aria-selected':'true'%>
  </li>
  <li class="nav-item">
    <%=link_to 'Messages reçus', '#v-pills-received-messages', class:"nav-link", id:"v-pills-received-messages-tab", 'data-toggle':"pill", 'role':"tab", 'aria-controls':"v-pills-received-messages" ,'aria-selected':"false"%>
  </li>
  <li class="nav-item">
    <%=link_to 'Messages envoyés', '#v-pills-sent-messages', class:"nav-link", id:"v-pills-sent-messages-tab", 'data-toggle':"pill", 'role':"tab", 'aria-controls':"v-pills-sent-messages", 'aria-selected':'false'%>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
<div class="tab-pane fade show active" id="v-pills-inbox-home" role="tabpanel" aria-labelledby="v-pills-inbox-home-tab">...</div>
<div class=" tab-pane fade" id="v-pills-received-messages" role="tabpanel" aria-labelledby="v-pills-received-messages-tab">

    <%= render 'received_messages' %>

</div>
<div class="tab-pane fade" id="v-pills-sent-messages" role="tabpanel" aria-labelledby="v-pills-sent-messages-tab">
<%= render 'sent_messages' %>
</div>
</div>



</div>