<div class="container-fluid mx-0">

<input class="form-control form-control-lg col-8 mx-auto my-3" type="text" placeholder="Rechercher dans les messages">

    <div class="row justify-content-around">

        <div class="col-5" id="talkHistory">

            <% @inbox.each do |message| %>


                <div class="card my-3 shadow">

                    <div class="card-header">
                        <%=message.created_at.strftime("Reçu le %e %b %Y à %H:%M")%>  objet:<%= message.object.capitalize%>
                    </div>

                    <div class="card-body">
                    
                        <% if message.sender.avatar.attached? %>
                        <%=image_tag "/", alt:"", class:"img-fluid rounded-circle border border-dark float-left m-2"%><%=message.sender.first_name%> <%=message.sender.last_name%>
                        <%else%>
                        <%=image_tag "icons/user.png", size:"50x50", alt:"", class:"img-fluid rounded-circle border border-dark float-left m-2"%> <%=message.sender.first_name%> <%=message.sender.last_name%>
                        <%end%>

                    </div>

                    <div class="card-footer">

                        <%= link_to 'Voir le message', message_path(id:message.id),  class:"stretched-link"%>  
                   
                    </div>

                </div>
                        
                   
                       
                

            <% end %>

        </div>



      
        <div class="col-7" id="messageShow">

                    
                    <% if @message != nil %>


                    
                    <%= button_to inbox_path(id:@message.id), class:"bg-transparent", method: :delete  do %>
                        <%= image_tag('icons/delete.png', size:"32x32", class:"img-fluid", alt:"delete message", title:"Supprimer le message") %>
                     <% end %>
                        

            

                        <div class="row p-2 ">
                            <div class="col text-left">
                            <h5 class="font-weight-bold"><%= @message.object.capitalize%> </h5>
                            </div>
                            <div class="col text-right">
                            <h6 class="font-italic"><%= @message.created_at.strftime("Reçu le %e %b %Y à %H:%M")%> </h6>
                            </div>
                        </div>
                        <div class="row p-2">

                            <div class="col">

                                <p><%= @message.content.capitalize%> </p>
                            </div>
                        </div>

                       
                            <%= form_for @new_message, url: messages_path do |f| %>
                            <div class="form-group col-12">
                                <h5 class="form-label"> Répondre </h5>
                                <hr class="my-2">
                                <%=  f.label :"Objet :"%>
                                <%=  f.text_field :object, class:"form-control mb-4"  %>
                                <%=  f.label :"Message :"%>
                                <%=  f.text_area :content, class:"form-control mb-4", rows:"2"  %>
                                <%= f.hidden_field :sender, value: @message.sender.id %>
                            
                            <%= f.submit "Envoyer", class:"btn btn-success"%>
                            <%end %>
                            </div>
                   
                    <% end %>
            
                
        </div>

    </div>

</div>