<div class="container-fluid mx-0">

<input class="form-control form-control-lg col-8 mx-auto my-3" type="text" placeholder="Rechercher dans les messages">

    <div class="row justify-content-around">

        <div class="col-5 py-2" id="talkHistory">

            <% @inbox.each do |message| %>

                <div class="list-group shadow justify-content-center text-center">

                <div class="row">
                    <div class="col">
                        <% if message.sender.avatar.attached? %>
                                <%=image_tag "/", alt:"", class:"img-fluid rounded-circle border border-dark float-left m-2"%>
                        <%else%>
                                <%=image_tag "icons/user.png", alt:"", class:"img-fluid rounded-circle border border-dark float-left m-2"%>
                        <%end%>
                    </div>

                    <div class="col-5">
                        <p class="mt-2"><%=message.sender.first_name%> <%=message.sender.last_name%></p>
                    </div>
                    <div class="col">
                        <div class="badge badge-pill badge-primary-light m-2"><%=message.created_at.strftime("Reçu le %e %b %Y à %H:%M")%></div> 
                        <%= link_to image_tag('icons/read-message.png', size:"25x25", class:"img-fluid"), message_path(id:message.id),  class:"stretched-link"%>  
                    </div>
                </div>


                </div>
            

            <% end %>

        </div>



      
        <div class="col-7">

                    
                    <% if @message != nil %>


                    <div class="row p-2">

                        <% if @message.mission_url? %>

                        <div class="col d-flex">

                                <%= button_to @message.mission_url, class:"bg-transparent", method: :get do %>
                                    <%= image_tag('icons/see-mission.png', size:"32x32", class:"img-fluid", alt:"See mission details", title:"Voir la mission")%>
                                <% end %>

                                <%= button_to inbox_path(id:@message.id), class:"bg-transparent", method: :delete  do %>
                                   <%= image_tag('icons/delete.png', size:"32x32", class:"img-fluid", alt:"delete message", title:"Supprimer le message") %>
                                <% end %>

                        <% else %>

                        <%= button_to inbox_path(id:@message.id), class:"bg-transparent", method: :delete  do %>
                            <%= image_tag('icons/delete.png', size:"32x32", class:"img-fluid", alt:"delete message", title:"Supprimer le message") %>
                         <% end %>

                           
                        <% end %>                      

                                
                        </div>     
                    </div>


              
                    <div class="m-2 bg-light-grey p-3" id="messageShow">
                   

                        <div class="row p-2">
                            <div class="col text-left">
                            <h5 class="font-weight-bold"><%= @message.object.capitalize%> </h5>
                            </div>
                            <div class="col text-right">
                            <h6 class="font-italic"><%= @message.created_at.strftime("Reçu le %e %b %Y à %H:%M")%> </h6>
                            </div>
                        </div>
                        <div class="row p-2">

                            <div class="col">

                                <p><%= @message.content.capitalize%> </p>
                            </div>
                        </div>

                       


                            

                            <%= form_for @new_message, url: messages_path do |f| %>
                            <div class="form-group col-12">
                                <h5 class="form-label"> Répondre </h5>
                                <hr class="my-2">
                                <%=  f.label :"Objet :"%>
                                <%=  f.text_field :object, class:"form-control mb-4"  %>
                                <%=  f.label :"Message :"%>
                                <%=  f.text_area :content, class:"form-control mb-4", rows:"2"  %>
                            
                            <%= f.submit "Envoyer", class:"btn btn-success"%>
                            <%end %>
                            </div>
                    </div>
                    <% end %>
            
                
        </div>

    </div>

</div>