<section class="px-4 py-5 bg-light-grey">

<h3 class="py-4 text-center shadow-title">Avec Tynkle, on dépanne l'ensemble des systèmes existants</h3>

<div class="card-group">
    <div class="card border-0 hover-animate bg-transparent hover-underline">
        <div class="card-body text-center">
            <h4 class="card-title hover-weigth-underline">Android</h4>
                <p class="card-text"><%=image_tag("icons/android.png", class:"img-fluid w-75")%></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card border-0 hover-animate bg-transparent hover-underline">
        <div class="card-body text-center">
            <h4 class="card-title hover-weigth-underline">Apple</h4>
                <p class="card-text"><%=image_tag("icons/apple.png", class:"img-fluid w-75")%></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card border-0 hover-animate bg-transparent hover-underline">
        <div class="card-body text-center">
            <h4 class="card-title hover-weigth-underline">Consoles</h4>
                <p class="card-text"><%=image_tag("icons/game-controller.png", class:"img-fluid w-75")%></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card border-0 hover-animate bg-transparent hover-underline">
        <div class="card-body text-center">
            <h4 class="card-title hover-weigth-underline">Linux</h4>
                <p class="card-text"><%=image_tag("icons/linux.png", class:"img-fluid w-75")%></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card border-0 hover-animate bg-transparent hover-underline">
        <div class="card-body text-center">
            <h4 class="card-title hover-weigth-underline">Windows</h4>
                <p class="card-text"><%=image_tag("icons/windows.png", class:"img-fluid w-75")%></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
</section>