
<div class="bg-material text-dark-force">

    <%= render "layouts/navbar" %>

    <%= render "tynkle-hero-welcome" %>

    <%= render "section-value-proposition" %>

    <%= render 'section_hero_multi_os_support' %>

    <%= render "problem-solution-tynkle-hero" %>

    <%= render "tynkle-hero-testimonials" %>

    <%= render "tynkle-hero-responsive" %>

</div>

<%= render "layouts/footer" %>
