<section class="">
    <div class="container position-relative text-center ">
    
    <ol class="breadcrumb my-4 justify-content-center">
        <li class="breadcrumb-item"><%= link_to 'Accueil', root_path %></li>
        <li class="breadcrumb-item active">Profil</li>
    </ol>

    <h1 class="hero-heading">
    <% if @user.first_name? %>
    <%=@user.first_name%>
    <% else %>
    Mon profil
    <% end %>
    </h1>

    <% if @user.avatar.attached? %>

        <%= image_tag @user.avatar, size:"200x200", class:"avatar avatar-xl avatar-border-white"%>

    <%else%>
        <%=image_tag "icons/man_avatar.png", size:"200x200", alt:"", class:"avatar avatar-xl avatar-border-white"%>
    <% end %> 

    <% if @user.date_of_birth?%>
    <h6 class="my-2 text-muted"> <%=@user.age?%> ans </h6>
    <% end %>

    
    <div class="my-4">
    <h6 class=""><i class="fas fa-map-marker-alt mx-2 fa-2x"></i> <%=@user.address%> </h6>

            
    <div class="mx-auto" id="map-helper-geolocation">
            
    </div>

    </div>

    </div>
</section>







<section class="py-2">
    <div class="container">


        <ul class="nav nav-pills mb-3 col-12 text-center justify-content-center" id="pills-tab" role="tablist">

            <% Categorytag.all.each do |tag| %>

            <li class="nav-item">
                <%= link_to "#pills-#{tag.name}", class:"nav-link d-flex", id:"pills-#{tag.name}-tab", 'data-toggle':"pill", 'role':"tab", 'aria-controls':"pills-#{tag.name}", 'aria-selected':"false"  do %> 
                <%= content_tag :div, tag.name %>
                <%end%>
            </li>

            <% end %>
        
        </ul>


        <div class="tab-content" id="pills-tabContent">

            <% Categorytag.all.each do |category| %>

                <div class="tab-pane fade" id="pills-<%=category.name%>" role="tabpanel" aria-labelledby="pills-<%=category.name%>-tab justify-content-center">
                <section class="py-2">
                    <div class="container">
                        <div class="row">
                            <table class="table table-responsive-lg text-gray-700 table-striped table-hover">
                                <tr class="no-hover no-stripe">
                                    <th class="border-top-0">Compétences</th>
                                    <td class="border-top-0"><strong>OUI</strong></td>
                                    <td class="border-top-0"><strong>NON</strong></td>
                                </tr>
                            <% Skill.where(categorytag:category).each do |skill|%>
                                <tr class="no-hover no-stripe">
                                    <th style="min-width: 200px"><%=skill.name%></th>
                                    <td style="min-width: 200px"><strong class="text-sm">OUI</strong></td>
                                    <td style="min-width: 200px"><strong class="text-sm">NON</strong></td>
                                </tr>
                            <% end %>
                            </table>
                        </div>
                    </div>
                </div>


            <%end%>
        </div>

    </div>
</section>





<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_SERVER_KEY']}&libraries=places&callback=initMap" %>

<%= javascript_tag ("initMap(#{@user.latitude}, #{@user.longitude}, document.getElementById('map-helper-geolocation'))")%>
