<section class="">
    <div class="container position-relative text-center ">
    
    <ol class="breadcrumb my-4 justify-content-center">
        <li class="breadcrumb-item"><%= link_to 'Accueil', root_path %></li>
        <li class="breadcrumb-item active">Profil</li>
    </ol>

    <h1 class="hero-heading">
    <% if @user.first_name? %>
    <%=@user.first_name%>
    <% else %>
    Mon profil
    <% end %>
    </h1>

    <% if @user.avatar.attached? %>

        <%= image_tag @user.avatar, size:"200x200", class:"avatar avatar-xl avatar-border-white"%>

    <%else%>
        <%=image_tag "icons/man_avatar.png", size:"200x200", alt:"", class:"avatar avatar-xl avatar-border-white"%>
    <% end %> 

    <% if @user.date_of_birth?%>
    <h6 class="my-2 text-muted"> <%=@user.age?%> ans </h6>
    <% end %>

    
    <div class="my-4">
    <h6 class=""><i class="fas fa-map-marker-alt mx-2 fa-2x"></i> <%=@user.address%> </h6>

            
    <div class="mx-auto" id="map-helper-geolocation">
            
    </div>

    </div>

    </div>
</section>

<section class="py-2 bg-light-grey" id="reviews">

    <div class="container text-center justify-content-center">

        <h4 class="my-4"> Les Avis </h4>

        <%=image_tag 'icons/star.png', size:'30x30', class:'img-fluid' %>
        <h6 class="my-2"> <%=@user.global_review_mark%> - <%=@user_reviews.length%> avis </h6>
      

       <% if params["review_type"].nil? %>


        <table class="table table-responsive text-gray-700 table-striped table-hover d-flex align-items-center justify-content-center my-4">

            <tr class="no-hover no-stripe">
                
                <th style="min-width: 200px"><%= link_to 'Parfait', helper_path(id:@user.id, review_type:"perfect", anchor: "reviews")  %></th>
                <td style="min-width: 200px"><%=@user_reviews_perfect.length%></td>
                
            </tr>
            <tr class="no-hover no-stripe">
                <th style="min-width: 200px"><%= link_to 'Très Bon', helper_path(id:@user.id, review_type:"really-good", anchor: "reviews")  %></th>
                <td style="min-width: 200px"><%=@user_reviews_really_good.length%></td>
            </tr>
            <tr class="no-hover no-stripe">
                <th style="min-width: 200px"><%= link_to 'Correct', helper_path(id:@user.id, review_type:"good", anchor: "reviews")  %></th>
                <td style="min-width: 200px"> <%=@user_reviews_good.length%></td>
            </tr>
            <tr class="no-hover no-stripe">
                <th style="min-width: 200px"><%= link_to 'Insuffisant', helper_path(id:@user.id, review_type:"not-enough", anchor: "reviews")  %></th>
                <td style="min-width: 200px"><%=@user_reviews_disapointing.length%></td>
            </tr>
            <tr class="no-hover no-stripe">
                <th style="min-width: 200px"><%= link_to 'A éviter', helper_path(id:@user.id, review_type:"to-avoid", anchor: "reviews")  %></th>
                <td style="min-width: 200px"> <%=@user_reviews_to_avoid.length%></td>
            </tr>

        </table>

        <% else %>

<div class="text-left col-9 mx-auto">


    <%= link_to 'Retour', helper_path(id:@user.id, anchor: "reviews"), class:"btn btn-outline-primary my-2"  %>

</div>

<div class="row justify-content-center my-4">



<% @review.each do |review| %>

        <div class="list-group col-9 shadow mb-5 p-4 bg-white">
            <div class="row">
                <div class="col my-auto d-flex align-items-center">
                   
                    <% if review.assessor.avatar.attached? %>
                        <% if review.assessor.service_provider? %>
                            <%=link_to (image_tag review.assessor.avatar, alt:"", class:"avatar avatar-md avatar-border-white ml-3"), helper_path(id:review.assessor.id)%><h2 class="h5 mb-0 ml-2"><%=review.assessor.first_name%></h2>
                        <% else %>
                            <%=link_to (image_tag review.assessor.avatar, alt:"", class:"avatar avatar-md avatar-border-white ml-3"),  useroutsidedevise_path(id:review.assessor.id)%><h2 class="h5 mb-0 ml-2"><%=review.assessor.first_name%></h2>
                        <% end %>
                    <%else%>
                        <% if review.assessor.service_provider? %>
                            <%=link_to (image_tag "icons/man_avatar.png", alt:"", class:"avatar avatar-md avatar-border-white ml-3"), helper_path(id:review.assessor.id)%><h2 class="h5 mb-0 ml-2"><%=review.assessor.first_name%></h2>
                        <% else %>
                            <%=link_to (image_tag "icons/man_avatar.png", alt:"", class:"avatar avatar-md avatar-border-white ml-3"), useroutsidedevise_path(id:review.assessor.id)%><h2 class="h5 mb-0 ml-2"><%=review.assessor.first_name%></h2>
                        <% end %>   
                    <%end%>
                  
                </div>
           
                <div class="col-md-6 text-center my-auto d-flex align-items-center">

                    <p class="mb-0 mx-auto"><%= review.content %></p>


                </div>

                <div class="col text-center my-auto d-flex align-items-center">

                    <p class="font-weight-bold mb-0"><%= review.rate_to_comment %></p>

                </div>

                <div class="col text-center my-auto d-flex align-items-center">

                    <p class="mb-0 badge badge-pill p-2 badge-primary-light"><%=review.created_at.strftime("%b %Y")%></p>
                </div>
            </div>
        </div>


<% end %>

</div>
    

   
        <% end %>
          
        
         
    </div>


</section>







<section class="py-2">
    <div class="container justify-content-center text-center">

    <h4 class="my-4"> Les Compétences d'<%=@user.first_name.capitalize%>:</h4>


        <ul class="nav nav-pills mb-3 col-12 text-center justify-content-center" id="pills-tab" role="tablist">

            <% Categorytag.all.each do |tag| %>

            <li class="nav-item">
                <%= link_to "#pills-#{tag.name}", class:"nav-link d-flex mx-2", id:"pills-#{tag.name}-tab", 'data-toggle':"pill", 'role':"tab", 'aria-controls':"pills-#{tag.name}", 'aria-selected':"false"  do %> 
                <%= content_tag :div, tag.name %>
                <%end%>
            </li>

            <% end %>
        
        </ul>


        <div class="tab-content" id="pills-tabContent">

            <% Categorytag.all.each do |category| %>

                <div class="tab-pane fade" id="pills-<%=category.name%>" role="tabpanel" aria-labelledby="pills-<%=category.name%>-tab justify-content-center">
                <section class="py-2">
                    <div class="container">
                        <div class="row">
                            <table class="table table-responsive-lg text-gray-700 table-striped table-hover text-center d-flex align-items-center justify-content-center">
                                <tr class="no-hover no-stripe">
                                    <th class="border-top-0">Compétences</th>
                                    <td class="border-top-0"><strong>Service proposé</strong></td>
                                   
                                </tr>
                            <% Skill.where(categorytag:category).each do |skill|%>
                                <tr class="no-hover no-stripe">
                                    <th style="min-width: 200px"><%=skill.name%></th>
                                    <td style="min-width: 200px"><%if LinkSkillToUser.where(user:@user, skill:skill).first.acquired == true%><%=image_tag "icons/yes-skill.png", class:"w-25 img-fluid mx-auto d-block"%><%else%><%=image_tag "icons/no-skill.png", class:"w-25 img-fluid mx-auto d-block"%><%end%></td>
                                </tr>
                            <% end %>
                            </table>
                        </div>
                    </div>
                </div>


            <%end%>
        </div>

    </div>
</section>





<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_SERVER_KEY']}&libraries=places&callback=initMap" %>

<%= javascript_tag ("document.addEventListener('turbolinks:load', function() { userName = '#{@user.first_name}' ; initMap(#{@user.latitude}, #{@user.longitude}, document.getElementById('map-helper-geolocation'), userName)    });")%>

<%= javascript_tag ("reloadPage()") %>

