<section class="container">

<div class="row justify-content-center my-5">

    <h2 class="shadow-title"> Comment peut tu aider la communauté ?</h2>

</div>

<ul class="nav nav-pills mb-3 col-12 text-center justify-content-center" id="pills-tab" role="tablist">

  <li class="nav-item">
    <%= link_to 'Compétences Sélectionnées', "#pills-skills-selected", class:"nav-link", id:"pills-skills-selected-tab", 'data-toggle':"pill", 'role':"tab", 'aria-controls':"pills-skills-selected", 'aria-selected':"false"%>  
  </li>

  <% Categorytag.all.each do |tag| %>

  <li class="nav-item">
    <%= link_to tag.name, "#pills-#{tag.name}", class:"nav-link", id:"pills-#{tag.name}-tab", 'data-toggle':"pill", 'role':"tab", 'aria-controls':"pills-#{tag.name}", 'aria-selected':"false"%>  
  </li>

  <% end %>
 
</ul>


<%= form_for wizard_path, method: :put do |f| %>

<div class="tab-content" id="pills-tabContent">


  <div class="tab-pane fade" id="pills-skills-selected" role="tabpanel" aria-labelledby="pills-skills-selected-tab justify-content-center">

    <hr class="mt-4 mb-2">

        <div class="form-control border-0 font-weight-bolder">Retrouve ici les services sélectionnés:</div>


          <% @user_skills.each do |link| %>
          
            <span class="badge badge-success"><%=link.skill.name%></span>
              

          <% end %>


  </div>

<!-- skills -->

<% Categorytag.all.each do |category| %>

  <div class="tab-pane fade" id="pills-<%=category.name%>" role="tabpanel" aria-labelledby="pills-<%=category.name%>-tab justify-content-center">

    <hr class="mt-4 mb-2">

    <div class="row justify-content-center">

      <div class="col-9">


        <%= f.label :selectionne_les_services_que_tu_souhaite_proposer, class:"form-control border-0 font-weight-bolder" %>

          <div class="form-group">


          <% category.skills.each do |skill|%>

            <div class="form-inline">

              <div class="col">
                  <%= f.label :"#{skill.name}", class:"form-control border-0", 'data-toggle': 'tooltip', 'data-placement':'top', title: skill.description %>
              </div>

              <div class="col-3">
                <div class="form-check form-check-inline">

                    <%= f.check_box :"#{skill.name}", class:"form-check-input mx-2", checked:LinkSkillToUser.find_by(user:current_user, skill:Skill.where(name:skill.name)).acquired%>
                    <%= f.label :oui, class:"form-check-label mx-2"%>    

                </div>
              </div>

            </div>

            <% end %>
            

          </div>

      </div>

      <div class="col-3 justify-content-center text-center">

        <%= image_tag("icons/#{category.name}.png", class:"w-50 img-fluid") %>

      </div>

    </div>


  </div>

  <% end %>


<hr class="my-4">

<div class="row col-8 justify-content-end my-4 mx-auto">
    <%= f.submit "Suivant", class:"btn btn-primary" %>
    <% end %>
</div> 




</section>


