<section class="container mt-4">

        <h2 class="text-center"> Choisis le type d'appareil concerné </h2>
        

        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=link_to "Type d'appareil", wizard_path(:device_type), class:"text-white"%></div>
            <div class="progress-bar bg-light" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=link_to "De quoi s'agit-il", wizard_path(:problem_type), class:"text-dark"%></div>
            <div class="progress-bar progress-bar bg-light" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=link_to "Rediger ma demande", wizard_path(:fill_up_mission_details), class:"text-dark"%></div>
            <div class="progress-bar progress-bar bg-light" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=link_to "Contacter des Helpers", wizard_path(:select_helper), class:"text-dark"%></div>
            <div class="progress-bar progress-bar bg-light" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=link_to "De quoi s'agit-il", wizard_path(:send_message), class:"text-dark"%></div>
        </div>
      


    <div class="row justify-content-center my-4">
   

    <% @helper.each_with_index do |helper,index| %>

            <div class="card col-5 my-2 mx-1">
                <div class="card-body">
                    <h5 class="card-title"><%=helper.first_name%></h5>
                    <p class="card-text"><%=device_category.description%></p>
                </div>
                
            </div>

    <% end %>
    
    

    <div class="row col-8 justify-content-end my-4 mx-auto">
   
    </div> 


</section>