<% if session[:device_category].to_i > 0  && session[:problem_type].to_i > 0 %>

<section class="container mt-4">

        <h2 class="text-center"> Sélectionne tes Helpers</h2>
        
        <div class="progress d-none d-md-none d-lg-flex">
            <div class="progress-bar bg-success" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "Type d'appareil", wizard_path(:device_type), class:"text-white bg-transparent border-0", method: :get%></div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "De quoi s'agit-il", wizard_path(:problem_type), class:"text-white bg-transparent border-0", method: :get%></div>
            
            <% if session[:device_category].nil? && session[:problem_type].nil? %>
            <div class="progress-bar progress-bar bg-success" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "Rediger ma demande", wizard_path(:fill_up_mission_details), class:"text-white bg-transparent border-0", method: :get%></div>
            <div class="progress-bar progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "Selectionner mes Helpers", wizard_path(:select_helper), class:"text-white bg-transparent border-0", method: :get%></div>
            <% else %>
            <div class="progress-bar progress-bar bg-success" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "Rediger ma demande", wizard_path(:fill_up_mission_details), class:"text-white bg-transparent border-0", method: :get%></div>
            <div class="progress-bar progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "Selectionner mes Helpers", wizard_path(:select_helper), class:"text-white bg-transparent border-0", method: :get%></div>
            <% end %>

            <% if session[:mission].nil?%>
                <div class="progress-bar progress-bar bg-light" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "Merci", wizard_path(:finish), class:"text-dark bg-transparent border-0", method: :get, disabled: true%></div>
            <% else %>
                <div class="progress-bar progress-bar bg-light" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "Merci", wizard_path(:finish), class:"text-dark bg-transparent border-0", method: :get%></div>
            <% end %>
        </div>
      
        <div class="progress d-none d-md-flex d-sm-flex d-md-none d-lg-none">
            <div class="progress-bar bg-success" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "1", wizard_path(:device_type), class:"text-white bg-transparent border-0", method: :get%></div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "2", wizard_path(:problem_type), class:"text-white bg-transparent border-0", method: :get%></div>
            
            <% if session[:device_category].nil? && session[:problem_type].nil? %>
            <div class="progress-bar progress-bar bg-success" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "3", wizard_path(:fill_up_mission_details), class:"text-white bg-transparent border-0", method: :get%></div>
            <div class="progress-bar progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "4", wizard_path(:select_helper), class:"text-white bg-transparent border-0", method: :get%></div>
            <% else %>
            <div class="progress-bar progress-bar bg-success" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "3", wizard_path(:fill_up_mission_details), class:"text-white bg-transparent border-0", method: :get%></div>
            <div class="progress-bar progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "4", wizard_path(:select_helper), class:"text-white bg-transparent border-0", method: :get%></div>
            <% end %>

            <% if session[:mission].nil?%>
                <div class="progress-bar progress-bar bg-light" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "5", wizard_path(:finish), class:"text-dark bg-transparent border-0", method: :get, disabled: true%></div>
            <% else %>
                <div class="progress-bar progress-bar bg-light" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%=button_to "5", wizard_path(:finish), class:"text-dark bg-transparent border-0", method: :get%></div>
            <% end %>
        </div>

  
      
    <%= form_for wizard_path, method: :put do |f| %>

    <div class="row justify-content-center my-4">

    <% @helper.each_with_index do |helper,index| %>

        <div class="list-group col-9 shadow mb-5 p-4">
            <div class="row">
                <div class="col">
                    <div class="d-flex align-items-center mb-3">
                    <% if helper.avatar.attached? %>
                        <%=link_to (image_tag helper.avatar, alt:"", class:"avatar avatar-md avatar-border-white ml-3"), helper_path(id:helper.id)%><h2 class="h5 mb-0 ml-2"><%=helper.first_name%></h2>
                    <%else%>
                        <%=link_to (image_tag "icons/man_avatar.png", alt:"", class:"avatar avatar-md avatar-border-white ml-3"), helper_path(id:helper.id)%><h2 class="h5 mb-0 ml-2"><%=helper.first_name%></h2>
                    <%end%>
                    </div>
                    
                    <span class="badge badge-pill p-2 badge-primary-light"><%=helper.created_at.strftime("Inscrit en %B %Y")%></span>
                </div>
                <% if helper.solved_mission_number < 1 %>
                    <div class="col text-center my-auto">
                        <i class="fas fa-user-clock mx-2"></i>
                        <p class="text-sm font-weight-bold">C'est ma première mission !</p>
                    </div>
                <% elsif  helper.solved_mission_number == 1 %>
                    <div class="col text-center my-auto">
                        <h6 class="label-heading">Evaluation</h6>
                        <p class="text-sm font-weight-bold"><i class="far fa-star mx-2"></i><%=helper.global_review_mark%></p>
                    </div>
                    <div class="col text-center my-auto">
                        <h6 class="label-heading">Missions</h6>
                        <p class="text-sm font-weight-bold"><%=helper.solved_mission_number%></p>
                    </div>
                <% else %>
                    <div class="col text-center my-auto">
                        <h6 class="label-heading">Evaluation</h6>
                        <p class="text-sm font-weight-bold"><i class="far fa-star mx-2"></i><%=helper.global_review_mark%></p>
                    </div>
                    <div class="col text-center my-auto">
                        <h6 class="label-heading">Missions</h6>
                        <p class="text-sm font-weight-bold"><%=helper.solved_mission_number%></p>
                    </div>
                <%end%>
                <% if helper.address? %>
                <div class="col text-center my-auto">
                    <i class="fas fa-map-signs"></i> 
                    <p class="text-sm font-weight-bold"><%=Geocoder.search([helper.latitude, helper.longitude]).first.postal_code%> <%=Geocoder.search([helper.latitude, helper.longitude]).first.city%></p>  
                </div>
                <% end %>
                <div class="col text-center my-auto">
                    <div class="form-check form-check-inline">
                    <%= f.label :"contacter", class:"form-check-label"%>
                    <%= f.check_box :"#{helper.id}", class:"form-check-input mx-2"%>
                    </div>
                </div>
            </div>
        </div>

    <% end %>
    
    

    <div class="row col-12 justify-content-end my-4 mx-auto">

    <%= f.submit "suivant", class:"btn btn-primary" %>

    <% end %>
   
    </div> 


</section>

<% end %>