<%= render "layouts/navbar_white" %>

<section class="container my-4">

        <h4 class="text-center col-9 mx-auto my-3">Nouvelle Offre envoyée par <%=@offer.user.first_name.capitalize%></h4>


        <div class="row">

            <div class="col-3 d-flex align-items-center">
                <div>
                    <%=button_to offer_path(id:@offer.id, validated:0), method: :put, class:"border-0 bg-transparent" do %>
                        <%= image_tag "icons/discard-offer", class:"img-fluid w-50", title:"Rejeter l'offre" %>
                    <% end %>
                </div>
            </div>

       
            <div class="col-6 p-4 text-left shadow">

                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 12rem;">
                                <div class="card-header bg-danger text-white font-weight-bold text-center"> <%=@offer.full_month_name%></div>
                                <div class="card-body text-center p-0">
                                    <p class="mt-1"> Rendez vous le : </p>
                                    <h6><%=@offer.abbreviated_day_name%> <%=@offer.zero_padded_day%></h6>
                                    <p><%=@offer.full_time_schedule%></p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-center">
                            <div>
                            <h5 class="label ">Objet de l'offre :</h5>
                            <p class="font-weight-bold font-italic"> <%=@offer.title.upcase%> </p>
                            </div>
                        </div>
                    </div>


                    <hr class="mb-4">

                    <div class="row">
                            <div class="col">
                                <h6 class="label ">Montant de l'Offre</h6>
                                <div class:""> <%=@offer.price%> Euros</div> 
                            </div>
                    </div>

                    <hr class="mb-4">

                    <div class="row">
                        <div class="col">
                            <h6 class="label ">Contenu de l'offre </h6>
                            <div class:""> <%=@offer.content%> </div>
                        </div>
                    </div>

            </div>

            <div class="col-3 d-flex align-items-center justify-content-end">

                <div>
                    <%=button_to offer_path(id:@offer.id, validated:1), method: :put, class:"border-0 bg-transparent" do %>
                    <%= image_tag "icons/validate-offer", class:"img-fluid w-50", title:"Accepter l'offre" %>
                    <% end %>
                </div>
    
            </div>

            


</section>