<%= render "layouts/navbar_white" %>

<section class="container mt-4">

        <h4 class="text-left col-9 mx-auto">Nouvelle Offre envoyé par <%=@offer.user.first_name.capitalize%></h4>


        <div class="row my-3 py-4 bg-light-grey text-left col-9 mx-auto">

            <div class="col-9">

                    <div class="row">

                        <div class="col">
                           
                            <h6 class="label ">Objet de l'offre :</h6>
                            <div class:""> <%=@offer.title%> </div>
                           

                        </div>

                        <div class="col">

                            <div class:""> <%=link_to 'Accéder à ma mission', mission_path(id:@offer.mission.id), class:"btn btn-outline-primary"%> </div>
                            
                        </div>
                    </div>


                    <hr class="mb-4">

            <div class="row">

                    <div class="col">

                        <h6 class="label ">Montant de l'Offre</h6>
                        <div class:""> <%=@offer.price%> Euros</div>
                        
                    </div>

                    <div class="col">
                       
                            <h6 class="label ">Rendez vous proposé :</h6>
                            <div class:""> le <%=@offer.date.strftime("%e %b %Y")%> à <%=@offer.time.strftime("%H:%M")%></div>
            
                    </div>
            </div>



            <hr class="mb-4">

            <div class="row">
            <div class="col">
           
                <h6 class="label ">Contenu de l'offre </h6>
                <div class:""> <%=@offer.content%> </div>
            </div>
            </div>

            </div>
        </div>



</section>