<%= render "layouts/navbar_white" %>

<section class="container my-4">

<% if @offer.expired? %>

<h4 class="text-center col-9 mx-auto my-3 text-muted">Nouvelle Offre envoyée par <%=@offer.user.first_name.capitalize%></h4>

<div class="row justify-content-center">
        <%= render 'col_offer_content_expired' %>
</div>

<% else %>

        <h4 class="text-center col-9 mx-auto my-3">Nouvelle Offre envoyée par <%=@offer.user.first_name.capitalize%></h4>

        <div class="row">

                <%= render 'col_button_decline_offer' %>
                <%= render 'col_offer_content' %>
                <%=render 'col_button_accept_offer' %>

        </div>


<% end %>

            


</section>