<!-- Button trigger modal -->
<%= link_to "Faire une offre", {}, class:"btn btn-outline-primary my-2", 'data-toggle':"modal", 'data-target':"#modal-make_an_offer" %>

<!-- Modal -->
<div class="modal fade" id="modal-make_an_offer" tabindex="-1" role="dialog" aria-labelledby="modal-make_an_offerLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-make_an_offerLabel">Faire une offre </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


      <%= form_for :offer, url:offers_path  do |f| %>
       
            <h5 class="form-label"> Ton Offre </h5>
            <hr class="my-2">
            <%=  f.label :"Propose un prix :"%>
            <%=  f.number_field :price, class:"form-control", required:true %>
            <div class="form-group my-4">
            <div class="row">
            <div class="col">
            <%=  f.label :"Propose une date:"%>
            <%=  f.date_field :date, class:"form-control datepicker", required:true, placeholder:Time.now.strftime('%d %b %Y') %>
            </div>
            <div class="col">
            <%=  f.label :"Propose une heure:"%>
            <%=  f.time_field :time, class:"form-control timepicker", required:true, placeholder:Time.now.strftime('%H:%M')%>
            </div>
            </div>
            </div>
            <%=  f.label :"Objet :"%>
            <%=  f.text_field :object, class:"form-control mb-4", required:true  %>
            <%=  f.label :"Message :"%>
            <%=  f.text_area :content, class:"form-control mb-4", rows:"2", required:true  %>
            <%= f.hidden_field :mission_url, value: @mission.id %>


        <% if user_signed_in? %>
            <%= f.hidden_field :sender, value: @user.id %>

        <% else %>

            <hr>

            <h5> Connectes toi ou inscris toi... </h5>

            
            <%=f.fields_for :@user do |ff| %>


                    <div class="form-group col mx-auto">
                        <%=  ff.label :"Adresse email :"%>
                        <%=  ff.email_field :email, class:"form-control mb-4"%>
                    </div>

                    <div class="form-group col mx-auto">
                        <%=  ff.label :"Choisir un mot de passe :"%>
                        <%=  ff.password_field :password, class:"form-control mb-4"%>
                    </div>

                    <div class="form-group col mx-auto">
                        <%=  ff.label :"Confirmer le mot de passe :"%>
                        <%=  ff.password_field :password_confirmation, class:"form-control mb-5"%>
                    </div>

            <% end %>

            
        <% end %>
           
        
      
      </div>
      <div class="modal-footer">
        <%= f.submit "Envoyer", class:"btn btn-success"%>
        <%end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag ("$('.datepicker').pickadate( {formatSubmit: 'yyyy-mm-dd',
hiddenName: true}); $('.timepicker').pickatime({formatSubmit: 'HH:i',
hiddenName: true})") %>
