<div id="carouselImageMission" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  <li data-target="#carouselImageMission" data-slide-to="0" class="active"></li>
  <li data-target="#carouselImageMission" data-slide-to="1"></li>
  <li data-target="#carouselImageMission" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
  <div class="carousel-item active">
    <% if @mission.image_one.attached? %>
      <%=link_to (image_tag @mission.image_one, class:"d-block w-50 mx-auto"), image_path(id:@mission.id, image_number:1)%>
    <% else %>
      <%=image_tag "icons/no-file.png", class:"d-block w-50 mx-auto"%>
    <% end %>
  </div>
  <div class="carousel-item">
    <% if @mission.image_two.attached? %>
      <%=link_to (image_tag @mission.image_two, class:"d-block w-50 mx-auto"), image_path(id:@mission.id, image_number:2)%>
    <% else %>
      <%=image_tag "icons/no-file.png", class:"d-block w-50 mx-auto"%>
    <% end %>
  </div>
  <div class="carousel-item">
    <% if @mission.image_three.attached? %>
      <%=link_to (image_tag @mission.image_three, class:"d-block w-50 mx-auto"), image_path(id:@mission.id, image_number:3)%>
    <% else %>
      <%=image_tag "icons/no-file.png", class:"d-block w-50 mx-auto"%>
    <% end %>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselImageMission" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselImageMission" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>