<%= render 'layouts/navbar_white' %>

<%= render 'modal_mission_solved' %>

<section class="container my-4">

        <h2 class="text-center my-4"> Mettre à jour ma demande </h2>


<div class="row justify-content-center my-3 py-4 bg-light-grey">

<div class="col-9">

    <%= form_for @mission, url: mission_path, method: :put do |f| %>

        <div class="row">
            <div class="col">

                
            <div class="form-group col-12">
                <%=  f.label :"Type d'Appareil :" %></br>
                <%= collection_select(:device_category, :device_category_id,  DeviceCategory.all, :id, :title) %>
            </div>

            </div>

            <div class="col">
                
            <div class="form-group col-12">
                 <%=  f.label :"Catégorie :" %> </br>
                <%= collection_select(:category_tag, :categorytag_id,  Categorytag.all, :id, :name) %>
            </div>

            </div>


        </div>

        <div class="row">

            <div class="col">
                <div class="form-group col">
                    <%=  f.label :"Titre_de_la_demande :" %>
                    <%=  f.text_field :title, class:"form-control mb-4"  %>
                </div>

            </div>

            <div class="col">

                <div class="form-group col-12">
                <%=  f.label :"Budget :" %>
                <%=  f.number_field :price, class:"form-control"  %>
                </div>
            </div>
        </div>


        <div class="col">

            <p class="form-label"> Mode de contact préféré </p>

        </div>

        <hr>

        <div class="row">


            <div class="col">

                <div class="form-group col-12 my-auto">

                    <div class="form-check text-center form-check-inline">
                        <%=  f.check_box :email_contact, class:"form-check-input",id:"radio-status-choice"%>
                        <%=  f.label :"Contact par email", class:"form-check-label", for:"radio-status-choice"  %>
                    </div>
                    
                </div> 

            </div>

            <div class="col">

                <div class="form-group col-12 my-auto">

                    <div class="form-check text-center form-check-inline">
                        <%=  f.check_box :phone_contact, class:"form-check-input",id:"radio-status-choice"%>
                        <%=  f.label :"Contact par téléphone", class:"form-check-label", for:"radio-status-choice"  %>
                    </div>
                    
                </div> 

            </div>
        </div>

        <hr class="mb-4">

        <div class="col">
            <p class="form-label"> Type d'aide souhaitée</p>
        </div>


        <hr>


        <div class="row">


            <div class="col">

                <div class="form-group col-12 my-auto">

               
                    <div class="form-check text-center form-check-inline">
                        <%=  f.check_box :in_person_help, class:"form-check-input",id:"radio-status-choice"%>
                        <%=  f.label :"Aide en personne", class:"form-check-label", for:"radio-status-choice"  %>
                    </div>
                    
                </div> 

            </div>

            <div class="col">

                <div class="form-group col-12 my-auto">

                    <div class="form-check text-center form-check-inline">
                        <%=  f.check_box :remote_help, class:"form-check-input",id:"radio-status-choice"%>
                        <%=  f.label :"Aide à distance", class:"form-check-label", for:"radio-status-choice"  %>
                    </div>
                    
                </div> 

            </div>
        </div>

        <hr class="mb-4">


        <div class="form-group col-12">
            <%=  f.label :"Description_de_la_demande :"%>
            <%=  f.text_area :description, class:"form-control mb-4", rows:"10"  %>
        </div>


        <div class="form-group col-12">
            <%=  f.label :"Localisation :" %>
            <%=  f.text_field :address, class:"form-control", id:"autocomplete_address"   %>
            <small class="form-text text-muted">Nous t'aidons en utlisant Google Maps pour une géolocalisation plus précise.</small>
        </div>


       
    <div class="form-group col-12">
        <%=  f.label :"Ajouter des fichiers :" %>
        
        <div class="row">
            <div class="col">
            <%=  f.file_field :image_one, class:"form-control-file mb-4"  %>
            </div>
            <div class="col">
            <%=  f.file_field :image_two, class:"form-control-file mb-4"  %>
            </div>
            <div class="col">
            <%=  f.file_field :image_three, class:"form-control-file mb-4"  %>
            </div>
        </div>

    </div>


   
</div>


</div>




<div class="row justify-content-end mb-3">
    <%= f.submit "valider", class:"btn btn-primary" %>
    <% end %>
</div> 

</div>


    
</section>


<%= javascript_tag 'buttonMissionSolvedChangePlace()' %>

