<%= render 'layouts/navbar_white' %>


<section class="justify-content-center text-center">

<%= form_for missions_path, method: :get do |f| %>

    <div class="form-inline justify-content-center my-4">

    <%= f.text_field :user_input, class:"form-control form-control-lg col-6", placeholder:"Rechercher une mission", id:"search-input" %>
    <%=  f.collection_select :categorytag_id, Categorytag.all, :id, :name, {prompt: "Compétence recherchée"}, {class: "custom-select-lg d-none mx-2", id:"categoytag-select"}%>
    <%=  f.collection_select :device_category_id, DeviceCategory.all, :id, :title, {prompt: "Appareil en panne"}, {class: "custom-select-lg d-none mx-2", id:"device-type-select"}%>
    <%= f.select :search_mission_type, options_for_select(@mission_type_collection_array), {}, { class: 'custom-select-lg mx-2', id:"mission-type-select"}%>
    <%= f.submit :rechercher, class:"btn btn-lg btn-outline-success" %>

    <% end %>

    </div>



    <div class="row justify-content-center my-2">



<% @missions.each do |mission| %>

        <div class="list-group col-10 shadow mb-5 p-5 bg-white position-relative">
            <div class="row">
                <div class="col-md-3 my-auto d-flex align-items-center justify-content-start">
                   
                    <% if mission.image_one.attached? %>
                            <%=image_tag mission.image_one, size:"75x75", alt:""%><h2 class="h5 mb-0 ml-2"><%=mission.title%></h2>
                    <%else%>
                    
                            <%=image_tag "icons/#{mission.categorytag.name}.png", size:"75x75", alt:"", class:"stretched-link"%><h2 class="h5 mb-0 ml-2"><%=mission.title%></h2>
                    <%end%>
                  
                </div>
           
                <div class="col-md-2 text-center my-auto d-block align-items-center">

                    <p class="mb-0 mx-auto mb-0"><%= mission.categorytag.name.capitalize %></p>
                    <p class="mb-0 mx-auto mb-0"><%= mission.device_category.title.capitalize %></p>

                
                </div>

                <div class="col-md-1 text-center my-auto d-block align-items-center">
                
                    <p class="font-weight-bold mx-auto mb-0"><i class="fas fa-map-marker-alt mx-2"></i>
                    <% if mission.postal_code.present? %>
                    <%= mission.postal_code%>
                    <% else %>
                    absent
                    <% end %>

                    </p>
                </div>

                <div class="col-md-2 text-center my-auto d-block align-items-center">

                    <p class="mb-0 mx-auto">Budget :</p>
                    <p class="mb-0 mx-auto"><%= mission.price %> €</p>

                </div>

                <div class="col-md-2 text-center my-auto d-block align-items-center">

                    <% if mission.user.service_provider?  && mission.user.first_name?%>
                        <p class="font-weight-bold mb-0">Postée par:</p>
                        <p class="font-weight-bold mb-0"><%= link_to mission.user.first_name.capitalize , helper_path(id:mission.user.id), class:"my-auto"  %></p> 
                    <% elsif  mission.user.service_provider?  && mission.user.first_name? == false%>
                        <p class="font-weight-bold mb-0">Postée par:</p>
                        <p class="font-weight-bold mb-0"><%= link_to 'Utilisateur' , helper_path(id:mission.user.id), class:"my-auto"  %></p>
                    <% elsif  mission.user.service_provider? == false  && mission.user.first_name? == false%>
                        <p class="font-weight-bold mb-0">Postée par:</p>
                        <p class="font-weight-bold mb-0"><%= link_to 'Utilisateur' , useroutsidedevise_path(id:mission.user.id), class:"my-auto"  %></p> 
                    <% elsif  mission.user.service_provider? == false  && mission.user.first_name? %>
                        <p class="font-weight-bold mb-0">Postée par:</p>
                        <p class="font-weight-bold mb-0"><%= link_to mission.user.first_name.capitalize , useroutsidedevise_path(id:mission.user.id), class:"my-auto"  %></p>
                    <% end %>

                </div>

                <div class="col-md-2 text-left my-auto d-block align-items-center justify-content-center text-center">

                    <p class="m-0 badge badge-pill p-0 badge-primary-light"><%=mission.created_at.strftime("le %d %b %Y à %H:%M")%></p>
                    <%= link_to 'Voir', mission_path(id:mission.id), class:"btn btn-outline-primary my-2 mx-auto" %>
                   
                    
                </div>
            </div>

         
         

           
        </div>


<% end %>

</div>

</section>

<%= javascript_tag ("selectFormFilterSearchcriterias = document.getElementById('mission-type-select');replaceSearchInputHelperByFormSelectSkills (selectFormFilterSearchcriterias)") %>