<%= render "layouts/navbar_white" %>

<section class="container mt-4">

        <h2 class="text-center">Poster une demande</h2>


        <div class="row justify-content-center my-3 py-4 bg-light-grey">

            <div class="col-9">

                <%= form_for @mission, url: mission_create_outside_survey_path, method: :post do |f| %>

                <%= render partial:"new_mission_row_categorytag_and_devices", locals:{f:f} %>
                <%= render partial:"new_mission_row_title_and_budget", locals:{f:f} %>
                <%= render partial:"new_mission_row_contact_types", locals:{f:f} %>
                <hr class="mb-4">
                <%= render partial:"new_mission_row_help_types", locals:{f:f} %>

                <hr class="mb-4">

                <%= render partial:"new_mission_form_group_description", locals: {f:f} %>
                <%= render partial:"new_mission_form_group_location", locals: {f:f} %>
                <%= render partial:"new_mission_attached_images", locals:{f:f} %>

                <% unless user_signed_in? %>

                <hr class="my-4">

                <%=render partial:"new_mission_register_or_suscribe", locals:{f:f}%>

                <hr class="my-2">

                <% end %>

            </div>
        </div>

            <div class="row justify-content-end mb-3">
                <%= f.submit "Suivant", class:"btn btn-primary" %>
                <% end %>
            </div> 

</section>


<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>

<%= javascript_tag ("google.maps.event.addDomListener(window, 'load', function() {
    initializeAutocomplete('autocomplete_address');
});") %>

<%= javascript_tag ("reloadPage()") %>
