<%= render 'layouts/navbar_white' %>

<div class="container-fluid">               
  <div class="row my-3">
  
    <div class="col-lg-7 col-xl-5 px-4 pb-4 pl-xl-5 pr-xl-5">
      <%= render "badges_categorytag_and_device_category" %>
      <%=render "mission_user_informations_and_title" %>
    </div>

    <%= render 'mission_location_informations' %>
    <%= render 'mission_budget_and_contact_buttons_mp_and_offer_send' %>
    <%= render 'mission_description_main caracteristics_and_images_carroussel' %>

    <!-- Map left start-->
    <div class="col-lg-5 col-xl-7 map-side-lg px-lg-0 p">
      <div id="map-mission-geolocation" class="map-full shadow-left"></div>
    </div>
    <!-- Map left finish-->
  </div>
</div>





<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_SERVER_KEY']}&libraries=places&callback=initMap" %>

<script>
document.addEventListener('turbolinks:load', function() { 
  <% if @user.first_name? %> 
  userName = '<%=@user.first_name%>'; 
  <% end %> 
initMap(<%=@mission.latitude%>, <%=@mission.longitude%>, document.getElementById('map-mission-geolocation'), userName, 14)    });
</script>

<%= javascript_tag ("reloadPage()") %> 



