<div class="row justify-content-center py-4 bg-light-grey">

<div class="d-block justify-content-center text-center">
    <h2 class="my-4"> Rediger un avis pour <%=@assessed_user.first_name.capitalize %> </h2>

    <h5> La mission résolue : <%= @mission.title.capitalize%>, <%=@mission.created_at.strftime("Crée le %e %b %Y à %H:%M") %></h5>
</div>



<div class="col-9 justify-content-center">


<hr>


    <%= form_for @review, url: reviews_path, method: :post do |f| %>

        <div class="form-group col-12">
            <%=  f.label :"Noter le service reçu :"%>
            <div class='starrr col-12 text-center'></div>
            <div class="text-center font-italic my-2" id="rate-comment"></div>
            <%= f.hidden_field :rate, class:"form-control", id:"mission-rate"%>
        </div>


        <div class="form-group col-12">
            <%=  f.label :"Ton commentaire:"%>
            <%=  f.text_area :content, class:"form-control mb-4", rows:"5"  %>
        </div>




    <div class="row justify-content-end mb-3">
    <%= f.submit "Suivant", class:"btn btn-primary" %>
    <% end %>
    </div> 

</div>

</div>

<%= javascript_tag ("$('.starrr').starrr()") %>

<%= javascript_tag ("$('.starrr').on('starrr:change', function(e, value){

    document.getElementById('mission-rate').value = value;
    changeCommentAccordingStarValue ();

  })") %>




<%= javascript_tag ("reloadPage()") %>



