<div class="row justify-content-center py-4 bg-light-grey">


<h2 class="my-4"> Rediger un avis pour <%=@assessed_user.first_name.capitalize %> </h2>

<div class="col-9">

    <%= form_for @review, url: reviews_path, method: :post do |f| %>

        <div class="form-group col-12">
            <%=  f.label :"Noter le service reçu :"%>
            <div class='starrr col-12 text-center'></div>
            <%= f.hidden_field :rate, class:"form-control", id:"mission-rate"%>
        </div>


        <div class="form-group col-12">
            <%=  f.label :"Ton commentaire:"%>
            <%=  f.text_area :content, class:"form-control mb-4", rows:"5"  %>
        </div>




    <div class="row justify-content-end mb-3">
    <%= f.submit "Suivant", class:"btn btn-primary" %>
    <% end %>
    </div> 

</div>

</div>

<%= javascript_tag ("$('.starrr').starrr()") %>

<%= javascript_tag ("$('.starrr').on('starrr:change', function(e, value){
    document.getElementById('mission-rate').value = value
  })") %>

  <%= javascript_tag ("reloadPage()") %>



