<!-- Megamenu-->
<li class="nav-item dropdown position-static"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle font-weight-bold">Je suis Helper</a>
  <div class="dropdown-menu megamenu">
        <div class="row p-4 h-100">
            <div class="col">
                    <div class="row">

                        <div class="col">
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Rechercher par type d'appareil</h6>
                            <ul class="megamenu-list list-unstyled">

                                <% DeviceCategory.all.each do |device| %>
                            
                                    <li class="megamenu-list-item">
                                        <%= link_to device.title.capitalize, root_path, class:"megamenu-list-link"%>
                                    </li>
                    
                                <% end %>
                    
                            </ul>
                        </div>


                        <div class="col">
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Recherche par critère</h6>


                            <%= form_for :mission, url: missions_path, html:{class:"form-inline my-4"}, method: :get do |f| %>

                            
                                <%= f.text_field :user_input, class:"form-control col-6", placeholder:"Rechercher une mission", id:"search-input" %>
                                <%=  f.collection_select :categorytag_id, Categorytag.all, :id, :name, {prompt: "Compétence recherchée"}, {class: "custom-select d-none", id:"categoytag-select"}%>
                                <%=  f.collection_select :device_category_id, DeviceCategory.all, :id, :title, {prompt: "Appareil en panne"}, {class: "custom-select d-none", id:"device-type-select"}%>
                                <%= f.select :search_mission_type, options_for_select(@mission_type_collection_array), {}, { class: 'custom-select mx-2', id:"mission-type-select"}%>
                                <%= f.submit :rechercher, class:"btn-no-radius btn-outline-success" %>
                            
                                <% end %>
                            
                               
                            
                        </div>

                    </div>

                    <hr>

                    <div class="row">

                    <% Categorytag.all.each do |categorytag| %>

                    
                        <div class="col">
                                <!-- Megamenu list-->
                                <h6 class="text-uppercase"><%=categorytag.name.capitalize%></h6>
                                <ul class="megamenu-list list-unstyled">

                                <% Skill.all.where(categorytag:categorytag).each do |skill| %>
                    
                                        <li class="megamenu-list-item">
                                            <%= link_to skill.name.capitalize, helpers_path("/helpers":{"user_input"=>"", "categorytag_id"=>categorytag.id, "device_category_id"=>"", "search_user_attribute"=>"Compétences"}), class:"megamenu-list-link"%>
                                        </li>
                                        
                                    <% end %>

                        
                                </ul>
                        </div>

                    <% end %>

                </div>
                </div>
        </div>
  </div>
</li>
<!-- /Megamenu end-->


<%= javascript_tag ("selectFormFilterSearchcriterias = document.getElementById('mission-type-select');replaceSearchInputHelperByFormSelectSkills (selectFormFilterSearchcriterias)") %>

<%= javascript_tag ('reloadPage()') %>


