<nav class="navbar navbar-expand-md bg-white navbar-white z-top" id="navbar">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item hover-underline">
              <%= link_to "L'équipe", root_path, class:"nav-link font-weight-bold hover-weigth-underline-dark", id:"navbar-link-1"%>
            </li>

            <li class="nav-item hover-underline">
                <%= link_to "Le Concept", root_path, class:"nav-link font-weight-bold hover-weigth-underline-dark", id:"navbar-link-2"%>
            </li>

        </ul>
    </div>
    <div class="mx-auto order-0">
    <%=link_to image_tag("logo/brand.png", size:"80x50", alt:"Tynkle logo", id:"logo-brand"), root_path,class:"navbar-brand mx-auto"%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>

            <li class="nav-item hover-underline">
            <%= link_to inbox_index_path("content":"home"), class:"nav-link font-weight-bold hover-weigth-underline-white d-flex", id:"navbar-link-3" do %>
                <%= content_tag :div, "Messagerie" %>
                <%= content_tag :sup, "#{current_user.received_messages.where(already_read:false).length}", class:"badge badge-pill badge-info ml-2" %>
                <% end %>
            </li>

            <li class="nav-item hover-underline">
                <%= link_to "Profil", edit_user_registration_path, class:"nav-link font-weight-bold hover-weigth-underline-dark", id:"navbar-link-4"%>
            </li>

            <li class="nav-item hover-underline">
                <%= link_to 'Deconnexion', destroy_user_session_path, :method => :delete, class:"nav-link font-weight-bold hover-weigth-underline-dark", id:"navbar-link-5"%>
            </li>

            <% else %>

            <li class="nav-item hover-underline">
                <%= link_to "Inscription", new_user_registration_path, class:"nav-link font-weight-bold hover-weigth-underline-dark", id:"navbar-link-6"%>
            </li>

            <li class="nav-item hover-underline">
                <%= link_to 'Connexion', new_user_session_path, class:"nav-link font-weight-bold hover-weigth-underline-dark", id:"navbar-link-7"%>
            </li>

          
            <% end %>

            <li class="nav-item">
              <%= link_to "J'ai besoin d'aide", '/servicesurvey/device_type', class:"nav-link font-weight-bold btn-success", id:"problem-button"%>
            </li>
      

      
        </ul>
    </div>
</nav>
